* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

.image {
  padding: 0.9rem;
}

main {
  background: hsl(0, 0%, 100%);
  margin-top: 6rem;
  margin-bottom: 2rem;
  max-width: 290px;
  border-radius: 20px;
}

main .content {
  text-align: center;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-bottom: 2rem;
  gap: 0.85rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}